[Unit]
Description=Run SBXR certificate renewal evaluation

[Timer]
OnCalendar=*-*-* 00,12:00:00
OnUnitInactiveSec=13m
RandomizedDelaySec=1m
AccuracySec=1s
Persistent=true
Unit=sbxr-cert-renew.service

[Install]
WantedBy=timers.target
